@font-face {
    font-family: VCR_OSD;
    src: url(fonts/VCR_OSD.ttf);
}

body {
    background: url(VHS/b6fe0c5fd3c211e729aabeca0597fa0e.gif);
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #edebeb;
}

.background2 img {
    opacity: 20%;
    width: 100%;;
    display: flex;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 1700px;
    z-index: -1;
}

.cursor-vhs {
    cursor: url(Images/vhs.png), auto;
}

header{
    max-width: 1440px;
    display: flex;
    place-content: start;
    margin-top: 8em;
    font-size: 1.4em;
    font-family: VCR_OSD;
    margin-bottom: 5em;
    color: #b1afaf;
}

main {
    display: grid;
    max-width: 1280px;
    color: #b1afaf;
    font-family: VCR_OSD;
    text-shadow: -2px -1px 2px  #59e1ffa4, 2px 1px 2px #AB0B0B;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    margin: 0 auto;
    font-size: 3em;
}

.home-info {
    line-height: 1.4em;
    margin-bottom: .5em;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-40%);
    transition: all 1.1s;
}


.show  {
    opacity: 1;
    filter: blur(.5px);
    transform: translateX(1.5%);
}

span {
    color: #edebeb;
    transition: 100ms ease;
}

span:hover {
    background: url(VHS/tv-static-rainbow-no-signal-6mhyvkjmqa3c4leq.gif);
    transition: 100ms ease;
    cursor: pointer;
}

.nav-container {
    flex-wrap: wrap;
    width: 6%;
    line-height: 2em;
    margin-bottom: 5em;
}

.nav-content a {
    font-size: 1.25em;
}

.nav-content a:hover {
    background: url(VHS/tv-static-rainbow-no-signal-6mhyvkjmqa3c4leq.gif);
    padding: 6px;
    transition: 250ms ease;
    color: white;
}


.nav-content {
    position: absolute;
    top: 0;
    left: 370px;
}

.nav-content a {
    color: #909090;
    text-decoration: none;
    text-shadow: -2px -1px 2px  #59e1ffa4, 2px 1px 2px #AB0B0B;

}

/* ^^ All the information for css that can be used on most pages ^^ */


/* underneath is changing backgrounds for each page */

/* Songs Page */
.background3 img {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    opacity: 20%;
}

/* Contact Page */
.background4 img {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    opacity: 20%;
}

/* About-me Page */
.background5 img { 
    position: fixed; 
    top: 0; 
    left: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 55%;
}


/* Songs Page BELOW */

.text1 h2 {
    margin-top: 2em;
}

.song {
    text-decoration: none;
    list-style:decimal-leading-zero;
    line-height: 2.3em;
    text-align: left;
}

/* About Page BELOW */

.about-text div {
    line-height: 2.15em;
}